<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>LABS 7-9</title>
      <link href="/stylesheets/bootstrap.css" rel="stylesheet">
      <link href="/stylesheets/font-awesome.css" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body >
  <div class="modal fade " id="delete_post"   tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content ">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                  <span aria-hidden="true" style="color:black">&times;</span>
              </button>
              <div class="my_form">
                  <h1>Удалить пост?</h1>
                  <fieldset>
                      <div class="panel-body" style="text-align: center">
                          <button  class="kek" data-dismiss="modal">Отмена</button>
                          <button  id="delete_post_button" class="kek" >Удалить</button>
                      </div>
                  </fieldset>
              </div><!-- /.modal-content -->
          </div>
      </div>
  </div>
  <div class="container-fluid"  style="background-color: black">
      <div class="highlight-info">
          <div class="overlay spacer">
              <div class="container">
                  <div class="row text-center  ">
                      <h1>Лабораторны роботи 7-9</h1>
                  </div>
              </div>
          </div>
      </div>
      <div class="welcome ">
          <div class="container sms" style="text-align: center;">
              <hr>
              <p  id="title_1">LAB#7 </p>
              <p id="title_2"> Створення динамічних веб-сторінок за допомогою браузерного JavaScript</p>
              <hr>
          </div>
      </div>
      <div class="welcome ">
          <div class="container sms" style="text-align: center;">
              <hr>
              <p  id="title_1">LAB#8 </p>
              <p id="title_2"> Виконання AJAX-запитів до сервера</p>
              <hr>
          </div>
      </div>

      <div class="welcome ">
          <div class="container sms" style="text-align: center;">
              <hr>
              <p  id="title_1">LAB#9 </p>
              <p id="title_2"> Завершення розробки і розгортання веб-сервісу. </p>
              <hr>
          </div>
      </div>
      <div class="container" >
          <div class="my_form">
              <h1>Регистрация</h1>
              <fieldset>
                  <form class="" role="form" method='POST' id="reg_form" action="/register">
                      <label > Ваше Имя:</label>
                      <input type="text" class="form-control kal" name="firstname" placeholder="Ваше Имя" value="" required>
                      <div class="alert alert-danger alert-dismissible "  id ="reg_1" role="alert" >
                      </div>
                      <label > Ваша Фамилия:</label>
                      <input type="text" class="form-control kal" name="lastname" placeholder="Ваша Фамилия" value="" required>
                      <div class="alert alert-danger alert-dismissible "  id ="reg_2" role="alert" >
                      </div>
                      <label>Ваш пол:</label>
                      <div class=" form-group"   data-toggle="buttons">
                          <label class="btn btn-warning" id="rad1">
                              <input type="radio"  name="gender" value="male"  > Мужской
                          </label>
                          <label class="btn btn-warning" id="rad2">
                              <input type="radio" name="gender" value="female" > Женский
                          </label>
                      </div>
                      <div class="alert alert-danger alert-dismissible "  id ="reg_3" role="alert" >
                      </div>
                      <label>Логин:</label>
                      <input type="text" class="form-control kal" name="username" placeholder="Логин" value="" required>
                      <div class="alert alert-danger alert-dismissible "  id ="reg_4" role="alert" >
                      </div>
                      <label>Пароль:</label>
                      <input type="password" class="form-control kal" name="password" placeholder="Пароль" value="" required>
                      <div class="alert alert-danger alert-dismissible "  id ="reg_5" role="alert" >
                      </div>
                      <label>Подтверждение пароля:</label>
                      <input type="password" class="form-control kal" name="confirm_password" placeholder="Подтверждение пароля" value="" required>
                      <div class="alert alert-danger alert-dismissible "  id ="reg_6" role="alert" >
                      </div>
                      <a class=" btn kek btn-block"  id="zareg" >Зарегестрироваться</a>
                  </form>
              </fieldset>
          </div>
      </div>
      <div class="highlight-info">
      </div>
      <main class="container-flid">
          <div class="container">
              <div id="search_form" >
                  <span class="icon"><i class="fa fa-search"></i></span>
                  <div class="form-group">
                      <input  id="search_input" name ="search" placeholder="Поиск.." >
                  </div>
                  <div id ="update">
                  </div>
              </div>
          </div>
          <div class="row" style="min-height: 800px" >
              <div class="container" id="places">
                  <%for(var i =0;i<2;i++){
                  for(var j=0;j<3;j++){
                  if (users[i*3+j]){
                  %>
                  <div class="col-sm-4 "  >
                      <div class="panel-body  ">
                          <div class="hovereffect">
                              <img src="/images/user_<%= users[i*3+j].gender %>.png">
                              <div class="overlay">
                                  <p>
                                      <span  class="btn btn-danger btn-sm del_post" name="<%= users[i*3+j]._id%>"><span class="glyphicon glyphicon-trash"></span></span>

                                  </p>
                                  <h2><%= users[i*3+j].username%></h2>
                                  <h2><%= users[i*3+j].firstname%></h2>
                                  <h2><%= users[i*3+j].lastname%></h2>
                              </div>

                          </div>
                      </div>
                  </div>
                  <%}}}%>
              </div >
          </div >
          <div class="container">
              <ul class="pagination " >
                  <%for(var page=0;page<Math.ceil(users.length/6);page++){%>
                  <li class="<%if (page==0){%><%= "active" %><%}%>"  > <a ><%=page+1%></a></li>
                  <%}%>
              </ul>
          </div>
      </main>
      <br>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script type="text/javascript">
          $(document).ready(function() {
              $(".pagination li").click(function(){
                  $(".pagination li").each(function() {
                      if ($(this).hasClass("active")){$(this).removeClass("active")}
                  });
                  $(this).addClass("active");
                  var t ="/page/";
                  t+=$(this).text();
                  $.get(t,function(data,status){
                      if(status){
                          var output="";
                          console.log(data);
                          for(var i =0;i<2;i++){
                              for(var j=0;j<3;j++){
                                  if(data.posts[i*3+j]){
                                      output +="\<div class='col-sm-4'>";
                                      output +="\<div class='panel-body'>";
                                      output +="\<div class='hovereffect'>";
                                      output +="\<img src='/images/user_"+data.posts[i*3+j].gender+"\.png'\>";
                                      output +="\<div class='overlay'>";
                                      output += '\<h2>' + data.posts[i*3+j].username+'\</h2>';
                                      output += '\<h2>' + data.posts[i*3+j].firstname+'\</h2>';
                                      output += '\<h2>' + data.posts[i*3+j].lastname+'\</h2>';
                                      output +="\</div> \</div> \</div> \</div> \</div>";
                                  }
                              }
                          }
                      }
                      $('#places').html(output);
                  });
              });
          });
        </script>
  <script type="text/javascript">
      $(document).ready(function() {
          $("#places").on('click', ".del_post", function(){
              var that = $(this);
              $("#delete_post_button").attr('name',that.attr('name'));
              $('#delete_post').modal('show');
          });
          $("fieldset ").on('click','#delete_post_button', function(){
              var t  = $("#delete_post_button").attr('name')
              $.ajax( { url: "https://api.mlab.com/api/1/databases/laba6-9/collections/users/"+t+"?apiKey=jzWYNPBCKKdDgtFbSklAagE_VWFEDpr9",
                  type: "DELETE",
                  async: true,
                  timeout: 300000,
                  success: function (data) {console.log(data); location.reload();},
                  error: function (xhr, status, err) { } } );
          });
      });
  </script>
  <!--validation-->
  <script type="text/javascript">
      $(document).ready(function (){
          $("#reg_form").on('click',"#zareg",function(){
              var flag =true;
              if($("#reg_form input[name = 'firstname']").val()==""){
                $("#reg_1").text("поле пустое");
                  flag =false;
              } else
              if($("#reg_form input[name = 'firstname']").val().length<2){
                  $("#reg_1").text("слишком короткое имя ");
                  flag =false;
              }else{
                  $("#reg_1").text("")
              }
              if($("#reg_form input[name = 'lastname']").val()==""){
                  flag =false;
                  $("#reg_2").text("поле пустое")
              } else
              if($("#reg_form input[name = 'lastname']").val().length<2){
                  flag =false;
                  $("#reg_2").text("слишком короткая фамилия ")
              }else{
                  $("#reg_2").text("")
              }
              if(!$("#rad1").hasClass('active')&&!$("#rad2").hasClass('active')){
                  flag =false;
                  $("#reg_3").text("пол не выбран")
              } else{
                  $("#reg_3").text("")
              }

              if($("#reg_form input[name = 'username']").val()==""){
                  flag =false;
                  $("#reg_4").text("поле пустое")
              } else
              if($("#reg_form input[name = 'username']").val().length<2){
                  flag =false;
                  $("#reg_4").text("слишком короткий логин ")
              }else{
                  $("#reg_4").text("")
              }
              if($("#reg_form input[name = 'password']").val()==""){
                  flag =false;
                  $("#reg_5").text("поле пустое")
              } else
              if($("#reg_form input[name = 'password']").val().length<6){
                  flag =false;
                  $("#reg_5").text("слишком короткий пароль ")
              }else{
                  $("#reg_5").text("")
              }
              if($("#reg_form input[name = 'confirm_password']").val()==""){
                  flag =false;
                  $("#reg_6").text("поле пустое")
              }else{
                  $("#reg_6").text("")
              }
              if(flag){
                  var gender;
                  if($("#rad1").hasClass('active')) {gender="male"} else {gender="female"}
                  var formData = {};
                  formData.password= $("#reg_form input[name = 'password']").val();
                  formData.firstname= $("#reg_form input[name = 'firstname']").val();
                  formData.lastname= $("#reg_form input[name = 'lastname']").val();
                  formData.gender = gender;
                  formData.username= $("#reg_form input[name = 'username']").val();
                  formData.confirm_password=$("#reg_form input[name = 'confirm_password']").val();
                  function success(data,status) {
                      console.log(data);
                      if (data.success){
                          $('#reg_user').modal('hide');
                          alert("Успешная регистрация. Теперь можете войти на сайт!");
                          location.reload();
                      }else{
                          if(data.msg=="Неверное подтверждение пароля"){
                              $("#reg_6").text("неверное подтверждение пароля")
                          }
                      }
                  }
                  function err(data,status) {
                      console.log(data);
                      $("#reg_4").text("Пользователь с таким логином уже есть");
                  }
                  $.ajax({
                      type: "POST",
                      url: '/register',
                      data: formData,
                      success: success,
                      error: err,
                  });
              }
          });
      });
  </script>
  <script type="text/javascript">
      $(document).ready(function (){
          $('#search_input').keyup(function () {
              var temp ={str: $('#search_input').val().toString()};
              if(temp.str){
                  $.post("/api/posts/search",temp,function (data,status) {
                      if(status){
                          console.log(data);
                          var output="";
                          for(var i =0;i<Math.ceil(data.result.length/3);i++){
                              for(var j=0;j<3;j++){
                                  if(data.result[i*3+j]){
                                      output +="\<div class='col-sm-4'>";
                                      output +="\<div class='panel-body'>";
                                      output +="\<div class='hovereffect'>";
                                      output +="\<img src='/images/user_"+data.result[i*3+j].gender+"\.png'\>";
                                      output +="\<div class='overlay'>";
                                      output += '\<h2>' + data.result[i*3+j].username+'\</h2>';
                                      output += '\<h2>' + data.result[i*3+j].firstname+'\</h2>';
                                      output += '\<h2>' + data.result[i*3+j].lastname+'\</h2>';
                                      output +="\</div> \</div> \</div> \</div> \</div>";
                                  }
                              }
                          }

                      }
                      $('#places').html(output);
                      $(".pagination ").css(
                              {visibility: 'hidden'}
                      );
                  })
              }else{
                  $.get("/page/1",function(data,status){
                      if(status){
                          var output="";
                          for(var i =0;i<2;i++){
                              for(var j=0;j<3;j++){
                                  if(data.posts[i*3+j]){
                                      output +="\<div class='col-sm-4'>";
                                      output +="\<div class='panel-body'>";
                                      output +="\<div class='hovereffect'>";
                                      output +="\<img src='/images/user_"+data.posts[i*3+j].gender+"\.png'\>";
                                      output +="\<div class='overlay'>";
                                      output += '\<h2>' + data.posts[i*3+j].username+'\</h2>';
                                      output += '\<h2>' + data.posts[i*3+j].firstname+'\</h2>';
                                      output += '\<h2>' + data.posts[i*3+j].lastname+'\</h2>';
                                      output +="\</div> \</div> \</div> \</div> \</div>";
                                  }
                              }
                          }
                      }
                      $(".pagination ").css({visibility: ''});
                      $('#places').html(output);
                  });
              }

          });
      });
  </script>
  </body>