<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SehenGO</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
      <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body >
  <!--Map_modal-->
      <!--<div class="modal fade" id="map_post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
          <!--<div class="modal-dialog ">-->
              <!--<div class="modal-content fon">-->
                  <!--<div class="modal-header">-->
                      <!--<h4 class="modal-title" id="myModalLabel">типа карта</h4>-->
                  <!--</div>-->
                  <!--<div class="modal-footer">-->
                      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
  <!--Register_modal-->
  <!--<div class="modal fade" id="change_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
      <!--<div class="modal-dialog ">-->
          <!--<div class="modal-content fon" >-->
              <!--<div class="modal-header">-->
                  <!--<h4>Изменение профиля</h4>-->
              <!--</div>-->
              <!--</div>-->
              <!--<div class="modal-footer">-->
                  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button></div>-->
      <!--</div>-->
  <!--</div>-->
  <!--<div class="modal fade bs-example-modal-sm" id="change_user" data-target=".bs-example-modal-sm" tabindex="-1"  role="dialog" ria-labelledby="mySmallModalLabel" >-->
      <!--<div class="modal-dialog" role="document">-->
          <!--<div class="modal-content">-->
              <!--<div class="modal-header">-->
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" >-->
                      <!--<span aria-hidden="true" >&times;</span>-->
                  <!--</button>-->
                  <!--<h4 class="modal-title">Modal title</h4>-->
              <!--</div>-->
              <!--<div class="modal-body">-->
                  <!--<p>One fine body&hellip;</p>-->
              <!--</div>-->
              <!--<div class="modal-footer">-->
                  <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              <!--</div>-->
          <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->



  <div class="modal fade " id="login_user"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content ">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                      <span aria-hidden="true" style="color:black">&times;</span>
                  </button>
                      <div id="login-form">
                          <h1>Авторизация</h1>
                          <fieldset>
                              <label for=""></label>
                              <form  role="form" action='/login' method='POST' id="login_form" >
                                  <input type="text" required name='username' value=""  placeholder="Ваш логин" >
                                  <input type="password" required name='password' value=""  placeholder="Ваш пароль">
                                  <input type="submit" value="Войти"></input>
                              </form>
                          </fieldset>
                      </div>
              </div><!-- /.modal-content -->
          </div>
      </div>
  </div>
      <div class="container-fluid" style="margin-top: 50px">
          <nav class="navbar navbar-inverse navbar-fixed-top" >
              <div class="container" >
                  <div class="navbar-header">
                      <a class="navbar-brand initialism" id="logo">
                          <span>S</span>
                          <span>e</span>
                          <span>h</span>
                          <span>e</span>
                          <span>N</span>
                          <span>G</span>
                          <span>O</span>
                      </a>
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
                  <div class="collapse navbar-collapse" id="responsive-menu">
                      <ul class="nav navbar-nav">
                          <li>
                              <a href="/" class="hvr-underline-from-left hvr-sweep-to-right">
                                  <span>
                                      <span class="glyphicon glyphicon-home"></span>
                                      <span class="hidden-sm">Главная</span>
                                  </span>
                              </a>
                          </li>
                          <%if (user){%>
                          <li>
                              <a href="/users/<%= user._id %>" class="hvr-underline-from-left hvr-sweep-to-right">
                                  <span>
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="hidden-sm"> Профиль</span>
                                  </span>
                              </a>
                          </li>
                          <% }%>
                      </ul>
                      <ul class="nav navbar-nav navbar-right" >
                          <%if (user){%>
                          <li ><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                          <%}else {%>
                          <li >
                              <a href="#" data-toggle="modal" data-target="#change_user">
                                  <span class="glyphicon glyphicon-log-in"></span>
                                  Войти
                              </a>
                          </li>
                          <%}%>
                      </ul>
                  </div>
              </div>
          </nav>
          <header >
              <div id="Slider2" >
              </div>
          </header>
          <div class="welcome ">
              <div class="col-sm-12 " style="text-align: center;">
                  <p  id="title_1">Добро пожаловать на SEHENGO! </p>
                  <p id="title_2"> Знаешь классные места в Киеве?</p>
                  <p id="title_3">Поделись с другими!</p>
                  <a href="#" class="button9">Присоединиться</a>
              </div>
          </div>
          <div class="container-fluid">
              <div class="container">
                  <form method="get" id="search_form" action="">
                      <span class="icon"><i class="fa fa-search"></i></span>
                      <div class="form-group">
                          <input type="search" id="search_input" name ="search" placeholder="Введите район, улицу, станцию метро или адрес" >
                      </div>
                      <div id ="update">
                      </div>
                  </form>
              </div>
          </div>
          <main >
              <div class="row ">
                  <div class="col-sm-4">
                      <div class="panel panel-danger fon">
                          <div class="panel-body">
                              <div class="hovereffect">
                                  <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                                  <div class="overlay">
                                      <h2>аа</h2>
                                      <p>
                                          <a class="link-style" href="#">Смотреть</a>
                                      </p>
                                  </div>
                              </div>
                              <!--<img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">-->
                          </div>
                      </div>
                  </div>
              </div>
          </main>
          <!--<div class="row">-->
                <!--<div class="col-lg-6  col-md-6 col-md-offset-3 col-lg-offset-3" style="padding:0px;">-->
                 <!--&lt;!&ndash;///////////////////&ndash;&gt;-->
                 <!--<%for(var i = 0;i<posts.length;i++ ){%>-->
                 <!--<div class="profile_info panel" style="margin-top: 20px;">-->
                     <!--<div id="<%= i%>" class="carousel slide" data-ride="carousel" style="margin-bottom: 5px;" >-->
                         <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                         <!--<ol class="carousel-indicators">-->
                            <!--<%for(var j = 0;j< posts[i].images.length;j++) {%>-->
                             <!--<%if (j==0){%>-->
                             <!--<li data-target="#<%= i %>" data-slide-to="<%= j%>" class="active" ></li>-->
                             <!--<%}else {%>-->
                             <!--<li data-target="#carousel-example-generic" data-slide-to="<%= j%>"  ></li>-->
                             <!--<%}}%>-->
                         <!--</ol>-->
                         <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
                         <!--<div class="carousel-inner">-->
                             <!--<%for(var j=0;j<posts[i].images.length;j++){%>-->
                             <!--<div class="item <%if (j==0){%> <%= 'active' %> <%}%>">-->
                                 <!--<img src='data:image/jpg;base64,<%= posts[i].images[j] %>'  style="width:100%;height:350px;">-->
                                 <!--<div class="carousel-caption">-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<%}%>-->
                         <!--</div>-->
                         <!--&lt;!&ndash; Controls &ndash;&gt;-->
                         <!--<a class="left carousel-control" href="#<%= i%>" data-slide="prev">-->
                             <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                         <!--</a>-->
                         <!--<a class="right carousel-control" href="#<%= i%>" data-slide="next">-->
                             <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                         <!--</a>-->
                     <!--</div>-->
                     <!--&lt;!&ndash;<div class="pager">&ndash;&gt;-->
                     <!--<div>-->
                         <!--<div class="panel-group" id="<%= posts[i]._id%>">-->
                             <!--<div class="panel panel-default">-->
                                 <!--<div class="panel">-->
                                     <!--<h4 class="panel-title">-->
                                         <!--<button class="btn btn-info btn-block" data-toggle="collapse"-->
                                                 <!--data-parent="#<%= posts[i]._id%>" href="#<%= (i+posts[i]._id).toString()%>">-->
                                            <!--<%= posts[i].title%>-->

                                         <!--</button>-->
                                     <!--</h4>-->
                                 <!--</div>-->
                                 <!--<div id="<%= (i+posts[i]._id).toString()%>" class="panel-collapse collapse">-->
                                     <!--<div class="panel-body">-->
                                         <!--<%= posts[i].description%>-->
                                     <!--</div>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<div class="panel panel-default">-->
                                 <!--<div class="panel">-->
                                     <!--<h4 class="panel-title">-->
                                         <!--<button class="btn btn-primary btn-block" data-toggle="collapse"-->
                                                 <!--data-parent="#<%= posts[i]._id%>" href="#<%= (i+1+posts[i]._id).toString()%>">-->
                                             <!--Комментарии <i class="fa fa-commenting" aria-hidden="true"></i>-->
                                         <!--</button>-->
                                     <!--</h4>-->
                                 <!--</div>-->
                                 <!--<div id="<%= (i+1+posts[i]._id).toString()%>" class="panel-collapse collapse">-->
                                     <!--<div class="panel-body">-->
                                         <!--<% for(var j =0;j<posts[i].comments.length;j++){%>-->
                                         <!--<div  style="background-color: #9d9d9d; border-radius: 10px; border-width: 2px; border-color: black; ">-->
                                             <!--<p>Автор:<%= posts[i].comments[j].authorId.username %></p>-->
                                             <!--<p><small><%= posts[i].comments[j].text %></small></p>-->
                                             <!--<h6><%= posts[i].comments[j].date%></h6>-->
                                         <!--</div>-->
                                         <!--<% }%>-->
                                     <!--</div>-->
                                     <!--<%if (user) { %>-->
                                     <!--<form class="form-horizontal " role="form" method='POST' action="/comments/<%= posts[i]._id.toString() %>" >-->
                                         <!--<textarea class="form-control colortext" rows="3" name="text" maxlength="900"></textarea>-->
                                         <!--<button type="submit" class="btn btn-primary">Отпраить</button>-->
                                     <!--</form>-->
                                     <!--<%}%>-->
                                 <!--</div>-->
                             <!--</div>-->
                         <!--</div>-->
                     <!--</div>-->
                     <!--<form method='GET' style="float: left" action="/posts/<%= posts[i]._id%>/like"  >-->
                         <!--<div class="form-group" style="position:relative;">-->
                             <!--<button type="submit"  class="btm btn-danger "<%if (!user) { %> <%= "disabled"%><%}%> ><i class="fa fa-heart" aria-hidden="true"></i> <%if(posts[i].likes.length>0) {%><%= posts[i].likes.length%><%}%></button>-->
                         <!--</div>-->
                     <!--</form>-->
                     <!--<div class="btn-group btn-group-sm">-->
                         <!--<%if ((user)&&(posts[i].authorId.toString() != user._id.toString())) {%>-->
                         <!--<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span></button>-->
                         <!--<%}%>-->
                         <!--<a href="/users/<%= posts[i].authorId%>" type="button" class="btn btn-default"><i class="fa fa-user-o" aria-hidden="true"></i></a>-->
                         <!--<button type="button" class="btn btn-success" data-toggle="modal" data-target="#map_post"><span class="glyphicon glyphicon-map-marker"></span></button>-->
                     <!--</div>-->
                 <!--</div>-->

                 <!--<%}%>-->
                 <!--&lt;!&ndash;/////////////////&ndash;&gt;-->
             <!--</div>-->
               <!--<% if (!user){ %>-->
                 <!--<div class="col-lg-3  col-md-3  hidden-xs hidden-sm "  id="">-->
                           <!--<div class=" col-xs-11 mycontainer" >-->
                            <!--<form class="form-horizontal " role="form" method='POST' action="/register">-->
                                <!--<h4 class="pager">Регистрация</h4>-->
                                 <!--<div class="form-group">-->
                                     <!--<label > Ваше Имя:</label>-->
                                     <!--<input type="text" class="form-control colortext" name="firstname" placeholder="Ваше Имя" value="" required>-->
                                <!--</div>-->
                                 <!--<div class="form-group">-->
                                     <!--<label > Ваша Фамимлия:</label>-->
                                  <!--<input type="text" class="form-control colortext" name="lastname" placeholder="Ваша Фамимлия" value="" required>-->
                                 <!--</div>-->
                                <!--<div class="row">-->
                                     <!--<div> <label>Пол:</label></div>-->
                                     <!--<label>-->
                                     <!--<input type="radio" name="gender" value="male" checked> Мужской<br>-->
                                    <!--</label>-->
                                    <!--<label>-->
                                     <!--<input type="radio" name="gender" value="female">Женский</i>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                     <!--<label>Логин:</label>-->
                                    <!--<input type="text" class="form-control colortext" name="username" placeholder="Логин" value="" required>-->
                                 <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>Пароль:</label>-->
                                    <!--<input type="password" class="form-control colortext" name="password" placeholder="Пароль" value="" required>-->
                                 <!--</div>-->
                                <!--<div class="form-group">-->
                                   <!--<label>Подтверждение пароля:</label>-->
                                  <!--<input type="password" class="form-control colortext" name="confirm_password" placeholder="Подтверждение пароля" value="" required>-->
                                <!--</div >-->
                                <!--<div >-->
                                     <!--<button type="submit" class="btn btn-success btn-block">Зарегистрироваться</button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                 <!--</div>-->
                <!--<%}%>-->
            <!--</div>-->
          <footer >
              <div class="container">
                  <div class="arrow">
                      <a class="totop" href="#"></a>
                      <div class="totop_down"></div>
                      <div class="totop_up"></div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                              <div class="col-md-6">
                                  <p id="logo_1">
                                      SEHENGO
                                  <p id="logo_2" class="logo_foot">Kirill Parus</p>
                                  <p id="company">© "Sehengo" 2016</p>
                              </div>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>


