<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SehenGO</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
</head>
<body >
    <!-- Modal windows -->
    <div class="modal fade "id="post_info" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="post" name="" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
                <%i =0;j=0;%>
                <div class="my_form" >
                    <h1 id = "post_title"></h1>
                    <div class="row ">
                        <div class="panel-body">
                            <div id="<%= i%>" class="carousel slide" data-ride="carousel" style="margin-bottom: 5px; border-radius: 50px" >
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" id="post_images">
                                    <div class="item <%if (j==0){%> <%= 'active' %> <%}%>">
                                        <img src="/images/user_male.png"  style="width:100%;height:350px;">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#<%= i%>" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#<%= i%>" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="highlight-info" style="text-align: center">
                        <button type="submit" id="like" class="btn btn-danger  btn-lg"<%if (!user) { %> <%= "disabled"%><%}%> ><i  id="like_i" class="fa fa-heart" aria-hidden="true"></i> </button>
                    </div>
                    <div class="panel panel-body">
                        <h2 id = "post_title2" ></h2>
                        <hr>
                        <h5>Автор: <a id="post_author"  type="button" class="btn btn-default"><i class="fa fa-user-o" aria-hidden="true"></i></a>,<i id="data"></i></h5>
                        <h5><span class="label label-success">Категория</span></h5><br>
                        <p id="post_des"></p>
                        <%if (user) { %>
                        <hr>
                        <h4>Оставить комментарий:</h4>
                        <form class="form-horizontal "  role="form" method='POST' action="" >
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10 ">
                                    <textarea class="form-control colortext" rows="3" value="" id="comment_text" maxlength="900" required ></textarea>
                                </div>
                            </div>
                            <input type="button" class="kek" id="post_send_comment" name="<%= user._id%>" value="Отправить"></input>
                        </form>
                        <br><br>
                        <p>Комментарии <span id="c_num" class="badge"></span></p><br>
                        <div id="post_comments" class="row">
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%if (user) {%>
        <%if ((user.username==user_db.username)||user&&(user.status=="admin")){%>
        <div class="modal fade " id="delete_post"   tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
                <div class="my_form">
                    <h1>Удалить пост?</h1>
                    <fieldset>
                        <div class="panel-body" style="text-align: center">
                            <button  class="kek" data-dismiss="modal">Отмена</button>
                            <button  id="delete_post_button" class="kek" >Удалить</button>
                        </div>
                    </fieldset>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
        <%}%>
            <div class="modal fade" id="change_post" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content " >
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true" style="color:black">&times;</span>
                        </button>
                        <div class="my_form">
                            <h1>Редактировать пост с местом</h1>
                            <fieldset>
                                <form  role="form" method='POST' action="/posts/" id="post_ch_form" enctype="multipart/form-data">
                                    <label > Новое название места:</label>
                                    <input type="text" class="form-control colortext" name="title" id="post_ch_title" placeholder="Название места" value="" required>
                                    <label > Новое oписание:</label>
                                    <textarea class="form-control colortext" rows="3" name ="description" id="post_ch_text" placeholder="Описание"  style="margin-bottom: 10px" required></textarea>
                                    <button type="submit" id="post_ch_button" class="btn btn-success" >Изменить</button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="add_post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true" style="color:black">&times;</span>
                        </button>
                        <div class="my_form">
                            <h1>Добавление поста</h1>
                            <fieldset>
                                <label for=""></label>
                                <form  role="form" action='/posts/' method='POST' enctype="multipart/form-data" >
                                    <label > Название места:</label>
                                    <input type="text" class="form-control colortext" name="title" placeholder="Название места" value="" required>
                                    <label > Описание:</label>
                                    <textarea class="form-control colortext" rows="3" name ="description"placeholder="Описание" style="margin-bottom: 10px" required></textarea>
                                    <label > Картинки:</label>
                                    <input type='file' class="form-control colortext" name='images' accept="image/jpeg,image/png,image/gif" required multiple>
                                    <div class="panel-body" style="text-align: center">
                                        <button  class="kek" data-dismiss="modal">Отмена</button>
                                        <button  type="submit" id="delete_post_button" class="kek" >Добавить</button>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="change_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content " >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </button>
                    <div class="my_form">
                        <h1>Изменение профиля</h1>
                        <fieldset>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#ch_name" data-toggle="tab">Главные</a></li>
                                <li><a  href="#ch_login" data-toggle="tab"> Логин</a ></li>
                                <li><a href="#ch_pass" data-toggle="tab"> Пароль</a></li>
                                <li><a href="#ch_ava" data-toggle="tab">Аватар</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="ch_name">
                                        <form  role="form" method='POST' action="/users/<%= user._id%>">
                                            <label > Ваше Имя:</label>
                                            <input type="text" class="form-control " name="firstname" placeholder="Ваше Имя" value="<%= user.firstname%>" required>
                                            <label > Ваша Фамимлия:</label>
                                            <input type="text" class="form-control " name="lastname" placeholder="Ваша Фамимлия" value="<%= user.lastname%>" required>
                                            <label>Ваш пол:</label>
                                            <div class=" form-group"   data-toggle="buttons">
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="gender" value="male" checked > Мужской
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="gender" value="female"> Женский
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-success" >Изменить</button>
                                        </form>
                                </div>
                                <div class="tab-pane fade" id="ch_login">
                                    <div class="modal-body mycontainer" >
                                        <form  role="form" method='POST'style="padding-bottom: 20px;" action="/users/<%= user._id%>">
                                            <label>Новый Логин:</label>
                                            <input type="text" class="form-control colortext" name="username" placeholder="Логин" value="<%= user.username%>" required>
                                            <br>
                                            <button type="submit" class="btn btn-success" >Изменить</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ch_pass">
                                    <div class="modal-body mycontainer" style="margin-bottom: 0px;">
                                        <form  role="form" method='POST' action="/users/<%= user._id%>">
                                            <label>Старый пароль:</label>
                                            <input type="password" class="form-control colortext" name="password_last" placeholder="Пароль" value="" required>
                                            <label>Новый пароль:</label>
                                            <input type="password" class="form-control colortext" name="password" placeholder="Пароль" value="" required>
                                            <label>Подтверждение пароля:</label>
                                            <input type="password" class="form-control colortext" name="confirm_password" placeholder="Подтверждение пароля" value="" required>
                                            <br>
                                            <button type="submit" class="btn btn-success" >Изменить</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ch_ava">
                                    <div class="modal-body mycontainer" style="margin-bottom: 0px;">
                                        <form action="/users/<%= user._id%>" method='POST' enctype="multipart/form-data" >
                                            <div class="form-group">
                                                <input type='file' class="form-control colortext" name='avatar' accept="image/jpeg,image/png,image/gif" required>
                                            </div>
                                            <button type="submit" class="btn btn-success" >Изменить</button>
                                        </form>
                                        <form action="/users/<%= user._id%>" method='POST' enctype="multipart/form-data" >
                                            <div class="form-group">
                                                <input type='file' value="" class="form-control colortext" name='avatar' accept="image/jpeg,image/png,image/gif" style="visibility: hidden">
                                            </div>
                                            <button type="submit" class="btn btn-danger" >Удалить аватар</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
    <!--MAIN-->
    <main class="container-fluid" style="margin-top: 50px">
        <!--///MENU-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand initialism" id="logo">
                        <span>S</span>
                        <span>e</span>
                        <span>h</span>
                        <span>e</span>
                        <span>N</span>
                        <span>G</span>
                        <span>O</span>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/" class="hvr-underline-from-left hvr-sweep-to-right">
                                <span>
                                    <span class="glyphicon glyphicon-home"></span>
                                    <span class="hidden-sm">Главная</span>
                                </span>
                            </a>
                        </li>
                        <%if (user){%>
                        <li>
                            <a href="/users/<%= user._id %>" class="hvr-underline-from-left hvr-sweep-to-right">
                                  <span>
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="hidden-sm"> Профиль</span>
                                  </span>
                            </a>
                        </li>
                        <% }%>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%if (user){%>
                        <li ><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                        <%}else {%>
                        <li ><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </nav>
        <!--//PAGE-->
        <div class="container" style="min-height: 800px">
            <div class="row">
                <div class="col-sm-3" style="background-color: yellow">
                    <div class="sidebar-wrapper">
                        <div class="profile-container">
                            <div class="avatar  ">
                                <%if (user_db.avatar){%><img src='data:image/jpg;base64,<%= user_db.avatar%>'>    <%} else {%>
                                <img src="/images/user_<%= user_db.gender %>.png">
                                <%}%>
                            </div>
                            <h1 class="name"><%= user_db.firstname%> <%= user_db.lastname%></h1>
                            <h3 class="tagline"><%= user_db.username%></h3>
                        </div>
                        <% if (user&&user.username==user_db.username) { %>
                        <div class="sms" style=" margin-top:3px;padding: 10px;border-right: solid 2px orange;border-left: solid 2px orange;">
                            <button type="button" style="margin-top: 0px" class="btn   btn-block kek "data-toggle="modal" data-target="#add_post" >Добавить место</button>
                            <button type="button" style="margin-top:3px" class="btn   btn-block kek "data-toggle="modal" data-target="#change_user" style="width: 100%; margin: 0px" > Изменить профиль  </button>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="" id="places" <%if ((user&&user.username==user_db.username)||(user&&user.status=="admin")){%>name="1" <%}else{%>name="0"<%}%> style="min-height: 570px">
                            <%for(var i =0;i<2;i++){
                            for(var j=0;j<2;j++){
                            if (user_db.ownPosts[i*2+j]) {%>
                        <div class="col-sm-6 "  >
                            <div class="panel-body  ">
                                <div class="hovereffect">
                                    <img class="img-responsive" src='data:image/jpg;base64,<%= user_db.ownPosts[i*2+j].images[0] %>'  style=" height:250px">
                                    <div class="overlay">
                                        <h2><%= user_db.ownPosts[i*2+j].title%></h2>
                                        <p>
                                            <a class="link-style" name="<%= user_db.ownPosts[i*2+j]._id%>" type="button">Смотреть</a>
                                            <%if ((user&&user.username == user_db.username )|| (user&&user.status=="admin")){%>
                                            <span class="btn btn-default btn-sm ch_post"name="<%= user_db.ownPosts[i*2+j]._id%>"  ><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                            <%}%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}}}%>
                    </div >
                </div >
                <div class="container">
                    <ul class="pagination " >
                        <%for(var page=0;page<Math.ceil(user_db.ownPosts.length/4);page++){%>
                        <li class="<%if (page==0){%><%= "active" %><%}%>"  > <a ><%=page+1%></a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <footer >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-6">
                            <p id="logo_1" name = "<%= user_db._id%>">
                                SEHENGO
                            <p id="logo_2" class="logo_foot">Kirill Parus</p>
                            <p id="company">© "Sehengo" 2016</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <!--pagination-->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".pagination li").click(function(){
                $(".pagination li").each(function() {
                    if ($(this).hasClass("active")){$(this).removeClass("active")}
                });
                $(this).addClass("active");
                var number = Number($(this).text());
                $.get("/api/posts/by-user/"+$("#logo_1").attr('name'),function(data,status){
                    for (var i=4*(number-1),posts=[];i<(4*number);i++){
                        if (i<=data.user.ownPosts.length&&data.user.ownPosts[i]){posts.push(data.user.ownPosts[i])}else break;
                    }
                    if(status){
                        var output="";
                        for(var i =0;i<2;i++){
                            for(var j=0;j<2;j++){
                                if(posts[i*2+j]){
                                    output +="\<div class='col-sm-6'>";
                                    output +="\<div class='panel-body'>";
                                    output +="\<div class='hovereffect'>";
                                    output +="\<img src='data:image\\jpg;base64,"
                                    output += posts[i*2+j].images[0];
                                    output += "' style='height:250px'>";
                                    output +="\<div class='overlay'><h2>";
                                    output += posts[i*2+j].title;
                                    output +="\</h2><p><a class='link-style' type='button'";
                                    output +="name='";
                                    output += posts[i*2+j]._id;
                                    output +="'";
                                    output +="\>Смотреть</a>";
                                    if ($("#places").attr("name")==1) {
                                        output +='\<span ';
                                        output +='name="'+posts[i*2+j]._id.toString()+'"';
                                        output +='\style="margin-left:5px;" class="btn btn-danger btn-sm del_post"  >\<span class="glyphicon glyphicon-trash"></span></span>';
                                        output +='\<span ';
                                        output +='name="'+posts[i*2+j]._id.toString()+'"';
                                        output +='\style="margin-left:5px;" class="btn btn-default btn-sm ch_post" >\<i class="fa fa-pencil" aria-hidden="true"></i></span>';
                                    }
                                    output +="\</p>";
                                    output +="\</div> \</div> \</div> \</div> \</div>";
                                }
                            }
                        }
                    }
                    $('#places').html(output);
                });
            });
        });
    </script>
    <!--open post-->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#places").on('click', ".link-style", function(){
                $.get("/api/posts/"+$(this).attr('name'),function(data,status){
                    if(status){
                        $('#post_title').text(data.post.title);
                        for(var j=0,images ="";j<data.post.images.length;j++) {
                            images += '<div class="item ';
                            if (j == 0) {
                                images += 'active';
                            }
                            images+='"><img src="data:image/jpg;base64,';
                            images+=data.post.images[j];
                            images+='" style="position absolute; margin:0 auto; height: 500px;">' ;
                            images += "\</div>";
                        }
                        $("#post_images").html(images);
                        $("#post_author").attr("href", "/users/"+data.post.authorId);
                        $("#post form").attr("action", "/comments/"+data.post._id.toString());
                        $("#post").attr("name", data.post._id.toString());
                        $('#post_des').text(data.post.description);
                        $('#post_title2').text(data.post.title);
                        $('#data').text(data.post.date);
                        if (data.post.likes.length==0){
                            $('#like_i').text("");
                        }else{
                            $('#like_i').text("  "+data.post.likes.length);
                        }
                        $("#like").attr('name',data.post._id.toString());
                        $("#like").attr('value',data.post.authorId.toString());
                        $('#c_num').text(data.post.comments.length );
                        $("#comment_text").val("");
                        for(var j =0,comments="";j<data.post.comments.length ;j++){
                            comments +="\<div class = 'panel-body'> \<div class='col-sm-2 text-center'>";
                            if (data.post.comments[j].authorId.avatar){
                                comments +='<img src="data:image/jpg;base64,';
                                comments +=data.post.comments[j].authorId.avatar;
                                comments += '"style="border:solid 3px orange" class="img-circle" height="65" width="65" alt="Avatar">';
                            }else{
                                comments +='\<img src="/images/user_' +data.post.comments[j].authorId.gender +'\.png" class="img-circle" height="65" width="65">';
                            }
                            comments +="\</div> \<div class='col-sm-10'> \<hr>\<h4>";
                            if($("#post_send_comment").attr('name')==data.post.comments[j].authorId._id) {
                                comments += "\<button type='button' class='close delete' name='";
                                comments += data.post.comments[j]._id;
                                comments += "\'\>\<span aria-hidden='true' style='color:black'\>&times;</span>\</button>"
                            }
                            comments += data.post.comments[j].authorId.username;
                            comments +="\<small>";
                            comments +=data.post.comments[j].date;
                            comments +="\</small>\</h4>\<p>";
                            comments += data.post.comments[j].text;
                            comments +="\</p> \<hr> \<br> \</div> \</div>";
                        }
                        $("#post_comments").html(comments);
                        $('\#post_info').modal('show');
                    }
                });
            });
            $("#post_send_comment").click(function(){
                if($("#comment_text").val()) {
                    $.get("/api/users/" + $(this).attr('name'), function (data, status) {
                        if (status) {
                            var commentData={};
                            commentData.authorId = data.user._id;
                            commentData.postId = $("#post").attr("name");
                            commentData.text = $("#comment_text").val();
                            $.post( "/api/comments/",commentData, function( data_postx) {
                                $("#comment_text").val("");
                                $.get("/api/posts/"+commentData.postId,function(data_p,status){
                                    if(status){
                                        $('#c_num').text(data_p.post.comments.length );
                                        var comment="";
                                        var j =data_p.post.comments.length-1;
                                        comment +="\<div class = 'panel-body'> \<div class='col-sm-2 text-center'>";
                                        if (data_p.post.comments[j].authorId.avatar){
                                            comment +='<img src="data:image/jpg;base64,';
                                            comment +=data_p.post.comments[j].authorId.avatar;
                                            comment += '"style="border:solid 3px orange" class="img-circle" height="65" width="65" alt="Avatar">';
                                        }else{
                                            comment +='\<img src="/images/user_' +data_p.post.comments[j].authorId.gender +'\.png" class="img-circle" height="65" width="65">';
                                        }
                                        comment +="\</div> \<div class='col-sm-10'> \<hr>\<h4>";
                                        if($("#post_send_comment").attr('name')==data_p.post.comments[j].authorId._id) {
                                            comment += "\<button type='button' class='close delete' name='";
                                            comment += data_p.post.comments[j]._id;
                                            comment += "\'\>\<span aria-hidden='true' style='color:black'\>&times;</span>\</button>"
                                        }
                                        comment += data_p.post.comments[j].authorId.username;
                                        comment +="\<small>";
                                        comment +=data_p.post.comments[j].date;
                                        comment +="\</small>\</h4>\<p>";
                                        comment += data_p.post.comments[j].text;
                                        comment +="\</p> \<hr> \<br> \</div> </div>";
                                        $("#post_comments").append(comment);
                                    }
                                });
                            });
                        }
                    })
                }
            });
            $("#places").on('click', ".del_post", function(){
                var that = $(this);
                $("#delete_post_button").attr('name',that.attr('name'));
                $('#delete_post').modal('show');
            });
            $("fieldset ").on('click','#delete_post_button', function(){
                $.get("/posts/delete/"+ $(this).attr('name'),function(data,result){
                    $('#delete_post').modal('hide');
                        location.reload();
                });

            });
            $("#places").on('click', ".ch_post", function(){
                $.get("/api/posts/"+$(this).attr('name'),function(data,status){
                    if(status){
                        $("#post_ch_form").attr('action',"/posts/"+data.post._id.toString());
                        $("#post_ch_title").attr("value",data.post.title.toString());
                        $("#post_ch_text").val(data.post.description);
                        $("#change_post").modal('show');
                    }
                });
            });


        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".panel-body").on('click',".delete",function(){
                that = $(this);
                $.ajax({
                    url: "/api/comments/"+$(this).attr('name'),
                    type: 'DELETE',
                    success: function(result) {
                        that.closest("div.panel-body").remove();
                    }
                });
            })
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#post").on('click',"#like",function(){
                that = $(this);
                if (!that.hasClass("disabled")){
                    var temp ={ userId :that.val().toString()};
                    $.post("/api/posts/" + that.attr("name").toString() + '/like',temp,function(data,result){
                        if (result){
                            $.get("/api/posts/"+that.attr('name'),function(data,status){
                                if(status){
                                    var t = data.post.likes.length;
                                    if (data.post.likes.length==0){
                                        $('#like_i').text("");
                                    }else{
                                        $('#like_i').text("  "+t );
                                    }
                                }
                            });
                        }

                    });
                }
            })
            $("#post_ch_form").on('click',"#post_ch_button",function(){

                location.reload();
            });
        });
    </script>
</body>
</html>


