<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                    <title>SehenGO</title>
                    <!-- Bootstrap -->
                    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
                        <link href="/stylesheets/style.css" rel="stylesheet">
                            <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    </head>
    <body >
        <!-- Modal windows -->
        <div class="modal fade" id="map_post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content fon">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">типа карта</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <%if (user) {%>
        <div class="modal fade" id="add_post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog ">
        <div class="modal-content fon">
        <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Добавление поста</h4>
        </div>
        <div class="modal-body mycontainer" style="margin-bottom: 0px;">
        <form class="form-horizontal " role="form" method='POST' action="/posts/" enctype="multipart/form-data">
        <div class="form-group ">
        <label > Название места:</label>
        <input type="text" class="form-control colortext" name="title" placeholder="Название места" value="" required>
        </div>
        <div class="form-group">
        <label > Описание:</label>
        <textarea class="form-control colortext" rows="3" name ="description"placeholder="Описание" style="margin-bottom: 10px" required></textarea>
        </div>
        <div class="form-group">
        <input type='file' class="form-control colortext" name='images' accept="image/jpeg,image/png,image/gif" required multiple>
        </div>
        <button type="submit" class="btn btn-success" >Добавить</button>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
        </div>
        </div>
        </div>
        <div class="modal fade" id="change_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
        <div class="modal-content fon" >
        <div class="modal-header">
        <h4>Изменение профиля</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
        <li class="active"><a href="#ch_name" data-toggle="tab">Главные</a></li>
        <li><a href="#ch_login" data-toggle="tab"> Логин</a></li>
        <li><a href="#ch_pass" data-toggle="tab"> Пароль</a></li>
        <li><a href="#ch_ava" data-toggle="tab">Аватар</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane fade in active" id="ch_name">
        <div class="modal-body mycontainer" style="margin-bottom: 0px;">
        <form class="form-horizontal " role="form" method='POST' action="/users/<%= user._id%>">
        <div class="form-group ">
        <label > Ваше Имя:</label>
        <input type="text" class="form-control colortext" name="firstname" placeholder="Ваше Имя" value="<%= user.firstname%>" required>
        </div>
        <div class="form-group">
        <label > Ваша Фамимлия:</label>
        <input type="text" class="form-control colortext" name="lastname" placeholder="Ваша Фамимлия" value="<%= user.lastname%>" required>
        </div>
        <div class="row">
        <div> <label>Пол:</label></div>
        <label>
        <input type="radio" name="gender" value="male" checked> Мужской<br>
        </label>
        <label>
        <input type="radio" name="gender" value="female">Женский</i>
        </label>
        </div>
        <button type="submit" class="btn btn-success" >Изменить</button>
        </form>
        </div>
        </div>
        <div class="tab-pane fade" id="ch_login">
        <div class="modal-body mycontainer" style="margin-bottom: 0px;">
        <form class="form-horizontal " role="form" method='POST'style="padding-bottom: 20px;" action="/users/<%= user._id%>">
        <div class="form-group">
        <label>Новый Логин:</label>
        <input type="text" class="form-control colortext" name="username" placeholder="Логин" value="<%= user.username%>" required>
        </div>
        <button type="submit" class="btn btn-success" >Изменить</button>
        </form>
        </div>
        </div>
        <div class="tab-pane fade" id="ch_pass">
        <div class="modal-body mycontainer" style="margin-bottom: 0px;">
        <form class="form-horizontal " role="form" method='POST' action="/users/<%= user._id%>">
        <div class="form-group">
        <label>Старый пароль:</label>
        <input type="password" class="form-control colortext" name="password_last" placeholder="Пароль" value="" required>
        </div>
        <div class="form-group">
        <label>Новый пароль:</label>
        <input type="password" class="form-control colortext" name="password" placeholder="Пароль" value="" required>
        </div>
        <div class="form-group">
        <label>Подтверждение пароля:</label>
        <input type="password" class="form-control colortext" name="confirm_password" placeholder="Подтверждение пароля" value="" required>
        </div >
        <button type="submit" class="btn btn-success" >Изменить</button>
        </form>
        </div>
        </div>
        <div class="tab-pane fade" id="ch_ava">
        <div class="modal-body mycontainer" style="margin-bottom: 0px;">
        <form action="/users/<%= user._id%>" method='POST' enctype="multipart/form-data" >
        <div class="form-group">
        <input type='file' class="form-control colortext" name='avatar' accept="image/jpeg,image/png,image/gif" required>
        </div>
        <button type="submit" class="btn btn-success" >Изменить</button>
        </form>
        </div>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
        </div>
        </div>
        </div>
        <%}%>
        <!--MAIN-->
        <main class="container-fluid" style="margin-top: 50px">
            <!--///MENU-->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand initialism" id="logo">
                            <span>S</span>
                            <span>e</span>
                            <span>h</span>
                            <span>e</span>
                            <span>N</span>
                            <span>G</span>
                            <span>O</span>
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/" class="hvr-underline-from-left hvr-sweep-to-right">
                                    <span>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span class="hidden-sm">Главная</span>
                                    </span>
                                </a>
                            </li>
                            <%if (user){%>
                            <li>
                            <a href="/users/<%= user._id %>" class="hvr-underline-from-left hvr-sweep-to-right">
                            <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm"> Профиль</span>
                            </span>
                            </a>
                            </li>
                            <% }%>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <%if (user){%>
                            <li ><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                            <%}else {%>
                            <li ><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//PAGE-->
            <div class="container-fluit">
                <div class="row">
                    <div class="col-lg-3  col-md-3 ">
                        <div class="col-sm-offset-1 col-sm-11 blockquote sidepanel ">
                            <div class="avatar  ">
                                <%if (user_db.avatar){%><img src='data:image/jpg;base64,<%= user_db.avatar%>'>    <%} else {%>
                                <img src="/images/user_<%= user_db.gender %>.png">
                                <%}%>
                            </div>
                            <div class="row pager">
                                <div class=" col-sm-9 blockquote profile_info ">
                                    <h4><%= user_db.username %></h4>
                                </div>
                                <% if (user&&user.username==user_db.username) { %>
                                <a type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#change_user" class="col-sm-2 btn btn-default ">
                                <span class="glyphicon glyphicon-cog">
                                </span>
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 " style=" padding:0px;">
                        <div class=" blockquote profile_info">
                            <div class="blockquote sidepanel">
                                <label>
                                    <%= user_db.firstname %>
                                    <%= user_db.lastname %>

                                </label>
                            </div>
                        </div>
                        <%if (user&&user.username==user_db.username){%>
                        <div class=" blockquote profile_info">
                        <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg"data-toggle="modal" data-target="#add_post" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Добавить место</button>
                        </div>
                        <div class="btn-group">
                        <button type="button" id="get_my_posts" class="btn btn-default btn-lg"><i class="fa fa-street-view" aria-hidden="true"></i>Мои места</button>
                        </div>
                        <div class="btn-group">
                        <button type="button" id="get_fav_posts"  class="btn btn-warning btn-lg"><i class="fa fa-star" aria-hidden="true"></i>Избранные места</button>
                        </div>
                        </div>
                        </div>
                        <%}%>
                        <!--POSTS-->
                        <!--///////////////////-->
                        <%for(var i = 0;i<user_db.ownPosts.length;i++ ){%>
                        <div class="profile_info panel" style="margin-top: 20px;">
                        <div id="<%= i%>" class="carousel slide" data-ride="carousel" style="margin-bottom: 5px;" >
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                        <%for(var j = 0;j< user_db.ownPosts[i].images.length;j++) {%>
                        <%if (j==0){%>
                        <li data-target="#<%= i %>" data-slide-to="<%= j%>" class="active" ></li>
                        <%}else {%>
                        <li data-target="#carousel-example-generic" data-slide-to="<%= j%>"  ></li>
                        <%}}%>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                        <%for(var j=0;j<user_db.ownPosts[i].images.length;j++){%>
                        <div class="item <%if (j==0){%> <%= 'active' %> <%}%>">
                        <img src='data:image/jpg;base64,<%= user_db.ownPosts[i].images[j] %>'  style="width:100%;height:350px;">
                        <div class="carousel-caption">
                        </div>
                        </div>
                        <%}%>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#<%= i%>" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#<%= i%>" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        </div>
                        <!--<div class="pager">-->
                        <div>
                        <div class="panel-group" id="<%= user_db.ownPosts[i]._id%>">
                        <div class="panel panel-default">
                        <div class="panel">
                        <h4 class="panel-title">
                        <button class="btn btn-info btn-block" data-toggle="collapse"
                        data-parent="#<%= user_db.ownPosts[i]._id%>" href="#<%= (i+user_db.ownPosts[i]._id).toString()%>">
                        <%= user_db.ownPosts[i].title%>

                        </button>
                        </h4>
                        </div>
                        <div id="<%= (i+user_db.ownPosts[i]._id).toString()%>" class="panel-collapse collapse">
                        <div class="panel-body">
                        <%= user_db.ownPosts[i].description%>
                        </div>
                        </div>
                        </div>
                        <div class="panel panel-default">
                        <div class="panel">
                        <h4 class="panel-title">
                        <button class="btn btn-primary btn-block" data-toggle="collapse"
                        data-parent="#<%= user_db.ownPosts[i]._id%>" href="#<%= (i+1+user_db.ownPosts[i]._id).toString()%>">
                        Комментарии<i class="fa fa-commenting" aria-hidden="true"></i>
                        </button>
                        </h4>
                        </div>
                        <div id="<%= (i+1+user_db.ownPosts[i]._id).toString()%>" class="panel-collapse collapse">
                        <div class="panel-body">
                        <% for(var j =0;j<user_db.ownPosts[i].comments.length;j++){%>
                            <div  style="background-color: #9d9d9d; border-radius: 10px; border-width: 2px; border-color: black; ">
                            <p>Автор:<%= user_db.ownPosts[i].comments[j].authorId.username %></p>
                            <p><small><%= user_db.ownPosts[i].comments[j].text %></small></p>
                            <h6><%= user_db.ownPosts[i].comments[j].date%></h6>
                            </div>
                            <% }%>
                        </div>
                        <%if (user) { %>
                            <form class="form-horizontal " role="form" method='POST' action="/comments/<%= user_db.ownPosts[i]._id.toString() %>" >
                            <textarea class="form-control colortext" rows="3" name="text" maxlength="900"></textarea>
                            <button type="submit" class="btn btn-primary">Отпраить</button>
                            </form>
                            <%}%>
                        </div>
                        </div>
                        </div>
                        </div>
                        <form method='GET' style="float: left" action="/posts/<%= user_db.ownPosts[i]._id%>/like"  >
                        <div class="form-group" style="position:relative;">
                        <button type="submit"  class="btm btn-danger "<%if (!user) { %> <%= "disabled"%><%}%> ><i class="fa fa-heart" aria-hidden="true"></i> <%if(user_db.ownPosts[i].likes.length>0) {%><%= user_db.ownPosts[i].likes.length%><%}%></button>
                        </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                        <%if (user&&user.username==user_db.username){%>
                            <div class="modal fade" id="change_post<%= user_db.ownPosts[i]._id.toString() %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                            <div class="modal-content fon">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Изменение поста</h4>
                            </div>
                            <div class="modal-body mycontainer" style="margin-bottom: 0px;">
                            <form class="form-horizontal " role="form" method='POST' action="/posts/<%= user_db.ownPosts[i]._id.toString() %>" enctype="multipart/form-data">
                            <div class="form-group ">
                            <label > Новое название места:</label>
                            <input type="text" class="form-control colortext" name="title" placeholder="Название места" value="<%= user_db.ownPosts[i].title%>" required>
                            </div>
                            <div class="form-group">
                            <label > Новое Описание:</label>
                            <textarea class="form-control colortext" rows="3" name ="description" placeholder="Описание"  style="margin-bottom: 10px" required><%= user_db.ownPosts[i].description%></textarea>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<input type='file' class="form-control colortext" name='images' accept="image/jpeg,image/png,image/gif" required multiple>-->
                            <!--</div>-->
                            <button type="submit" class="btn btn-success" >Изменить</button>
                            </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить изменения</button>
                            </div>
                            </div>
                            </div>
                            </div>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#change_post<%= user_db.ownPosts[i]._id.toString() %>"><i class="fa fa-pencil" aria-hidden="true"></i></button><%}%>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#map_post"><span class="glyphicon glyphicon-map-marker"></span></button>
                        <%if (user&&((user.username==user_db.username)||(user.status=="admin"))){%>
                            <div class="modal fade" id="delete_post<%= user_db.ownPosts[i]._id.toString() %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                            <div class="modal-content fon">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Вы действительно хотите удалить places?</h4>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <a href="/posts/delete/<%= user_db.ownPosts[i]._id.toString() %>" type="button" class="btn btn-danger">Удалить Пост</a>
                            </div>
                            </div>
                            </div>
                            </div>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_post<%= user_db.ownPosts[i]._id.toString() %>"><span class="glyphicon glyphicon-trash"></span></button>
                            <%}%>

                        </div>
                        </div>

                        <%}%>
                        <!--/////////////////-->

                    </div>
                </div>
            </div>
            <footer >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <p id="logo_1">
                                    SEHENGO
                                    <p id="logo_2" class="logo_foot">Kirill Parus</p>
                                    <p id="company">© "Sehengo" 2016</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript" >
            $(document).ready(function ()
            {
                $("#get_fav_posts").click(function () {
                    alert("favourite posts");
                });
            });
        </script>
        <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>


