
/*FONTS*/
@font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Museo.otf');
}
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}


/*MODALS*/
.modal-content{
    background-color: transparent;
}
.my_form {
    background-color: #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.my_form h1 {
    font-family: Roboto-Bold;
    background-color: orange;
    border-radius: 5px 5px 0px 0px;
    color: black;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
}
.my_form fieldset {
    border: none;
    padding: 20px;
    position: relative;
}
.my_form fieldset form {
    overflow: hidden;
    /*width: 100%;*/
}
.my_form fieldset form input {
    font-family: Roboto;
    font-size: 14px;
    outline: none;
    -webkit-appearance:none;
    width: 100%;
    position: center;
}
.my_form fieldset form  .input_up {
    border: 1px solid orange;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    padding: 12px 10px;
    -webkit-appearance: none;
}
.my_form fieldset form .kal {
    border: 1px solid orange;
    border-radius: 3px;

    padding: 12px 10px;
    -webkit-appearance:none;
}
.my_form fieldset form .input_down  {
    border: 1px solid orange;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    padding: 12px 10px;
    -webkit-appearance:none;
}
.my_form fieldset form input[type="submit"] ,.kek{
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 12px;
    -webkit-appearance: none;
}
.my_form fieldset form input[type="submit"]:hover ,.kek:hover{
    background-color: orange;
}
.my_form fieldset form span:before {
    background-color: #c9c9c9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: "?";
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}
.my_form fieldset form span {
    font-size: 12px;
    margin-top: 40px;
}
.my_form fieldset form span a{
    color: #eb6d1a;
    text-decoration: none;
}
.my_form fieldset form span a:hover {
    color: #eb6d1a;
}
.my_form form> label{
    margin-top:5px;
    color: orange;
    font-size: 20px;
    font-family: Museo;
}

    /*MENU*/
.fon{
    background: url('../images/gradient.png');
}
.navbar{
    box-shadow: 0 0 5px 2px orange;
    margin-bottom: 0;
    border-bottom: rgb(255, 138, 0) solid 2px;
}
.navbar-right>li>a>span {
    margin-right: 5px;
    /*background-color: ;*/
}
#responsive-menu a{
    font-family: Roboto-Regular,sans-serif;
    font-size: 16px;
    height: 50px;}
#logo > span:nth-child(1) {
    font-size: 1.9em;
    color: rgb(255, 138, 0);
}
#logo {
    font-family: Roboto-Regular;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
}

div.overlay > h2 {
    /*border-radius:  15px 15px 0 0 ;*/
    max-width: 100%;
    overflow: hidden;
    opacity: .7;
    background-color: orange ;
}

    /* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: rgb(255, 138, 0);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before   {  right: 0;}

/*BODY*/
header{
    height: 400px;
}
#Slider{
    z-index: 1;
    width: 100%;
    height: 100%;
    background:  url('../images/fon2.jpg') no-repeat black;
    background-size: 100% ;
}
#title_1 {
    margin-top: 4%;
    font-family: Roboto-Thin;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
    color: rgb( 256, 164, 0 );
    line-height: 1;
    text-align: center;
    /*position: absolute;*/
    -moz-transform: matrix( 1, 0, 0, 0.99904237010052, 0, 0);
    -webkit-transform: matrix( 1, 0, 0, 0.99904237010052, 0, 0);
}
#title_2 {
    margin-top: 40px;
    font-size: 20px;
    font-family: Roboto-Bold;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.598;
    text-align: center;
    -moz-transform: matrix( 1, 0, 0, 0.99904237010052, 0, 0);
    -webkit-transform: matrix( 1, 0, 0, 0.99904237010052, 0, 0);
}
#title_3 {
    font-size: 21px;
    font-family: Roboto-Light ;
    color: white;
    line-height: 1.598;
    text-align: center;
    font-style: oblique;
    -moz-transform: matrix( 1, 0, 0, 0.99904237010052, 0, 0);
    -webkit-transform: matrix( 1, 0, 0, 0.99904237010052, 0, 0);
}
main{
    /*padding: 25px;*/
    width: 100%;
    background-color:black;
}


.welcome{
    background-color: black;
    border-bottom: rgb(255, 138, 0) solid 2px;
    border-top: rgb(255, 138, 0) solid 2px;
    box-shadow: 0 0 10px orange;
}
.sms {
    margin-top: 60px;
    margin-bottom:60px ;
    background: url(../images/gradient.png) no-repeat top center black;
    background-size: 300% 500%;
}
hr{
    margin: 0;
}
.welcome a{
    margin-top:3%;
}
a.button9 {
    border-radius: 5px;
    position: relative;
    display: inline-block;
    color: orange;
    font-size: 20px;
    font-family: Museo;
    text-decoration: none;
    user-select: none;
    padding: 1em 2em;
    margin-bottom: 10px;
    outline: none;
    background-image: linear-gradient(90deg, rgba(255,255,255,.0) 30%, rgba(255, 156, 10, 0.8), rgba(255,255,255,.0) 70%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 3px);
}
a.button9:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.highlight-info{
    background: orange;
    border-bottom: rgb(255, 138, 0) solid 2px;
    border-bottom: solid orange 2px;
    padding: 15px 0 ;
}


/*Search form*/
#search_form{
    top:50%;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
#update{
    position: relative;
    display: block;
}
#search_form input{
    margin-top: 150px;
    outline: none;
    width: 100%;
    height: 60px;
    /*width: 100%;*/
    /*padding: 6px 12px;*/
    padding-left: 58px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 5px solid  rgb( 256, 164, 0 );
}
#search_form .icon{
    font-size:35px ;
    margin-top: 153px;
    position: absolute;
    margin-left: 16px;
    z-index: 1;
    color: rgb( 190, 190, 190 );
}
#search_form  .results {
    position: absolute;
    width: 100%;
    z-index: 10;
    margin-left: 0;
    margin-top: -15px;
    border-left-width:5px;
    border-right-width:5px;
    border-bottom-width:3px;
    border-top-width: 0;
    border-style: solid;
    border-color: rgb( 43, 164, 65 );
    background-color: #fdfdfd;
}


 /*HYINA*/

.nav-tabs  a{
    font-size: 20px;
    color: white;
}
.nav-tabs  a:hover{
    color: black;
}

.avatar {

   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.avatar img {
    margin-top: 7%;
    	-webkit-box-shadow:
		inset 0 0 1px rgba(0,0,0,.8),
		inset 0 2px 0 rgba(255,255,255,.5),
		inset 0 -1px 0 rgba(0,0,0,.4);
	-moz-box-shadow:
		inset 0 0 1px rgba(0,0,0,.8),
		inset 0 2px 0 rgba(255,255,255,.5),
		inset 0 -1px 0 rgba(0,0,0,.4);
	box-shadow:
		inset 0 0 1px rgba(0,0,0,.8),
		inset 0 2px 0 rgba(255,255,255,.5),
		inset 0 -1px 0 rgba(0,0,0,.4);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
   width: 100%;	  
}




/*place hover*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: orange;
}
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}
.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.hovereffect h2 {
    font-family: Roboto-Bold;
    text-transform: uppercase;
    color: black;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}
.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.link-style {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background: black;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 1px 0 1px #5C1111;
    text-transform: uppercase;
    color: #FFFFFF;
}
.link-style:hover{
    cursor: pointer;
    /*text-decoration: none;*/
}
.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



/*FOOTER*/
footer {
    height: 150px;
    background-color: rgb( 59, 59, 59 );
}
#logo_1{
    z-index: 2;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 31px;
    font-family: Museo;
    color: rgb( 255, 255, 255 );
    line-height: 1.032;
    text-align: left;
    margin-bottom: 0;
}
#logo_2{
    z-index: 2;
    margin-left: 15px;
    font-size: 11.5px;
    font-family: Roboto;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;

}
#company{
    z-index: 2;
    margin-left: 15px;
    font-size: 8pt;
    font-family: Roboto;
    color: rgb( 157, 157, 157 );
    line-height: 2.667;
    text-align: left;
    margin-bottom: 0
}



.sidebar-wrapper {
    background: orange;
    min-height: 700px;
    color: #fff;
}

.sidebar-wrapper .profile-container {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
}
.sidebar-wrapper .name {
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
}

.sidebar-wrapper .profile {
    margin-bottom: 15px;
}












