<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
</head>

<body>
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">BookCase</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li> <a href="http://localhost:3000/Home"  title="">Homepage</a></li>
                    <li class="active"> <a href="http://localhost:3000/Books" title="">Books</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="container">
        </div>
        <div id="page" class="container">
            <ul class="list-style1">
                <% {for(var i=0;i< obj.length;i++){ %>
                <li>
                    <img class = "image-wrap" src = "images/book<%=(i+1).toString()%>.jpg">
                    <p><%= obj[i].name %></p>
                    <p><a href="http://localhost:3000/Book<%=(i+1).toString()%>" class="link-style">More info</a></p>
                </li>
                <%}}%>
            </ul>
        </div>
        <div id="banner2" class="container">
        </div>
        <div  >
            <p> <br> <br> </p>
        </div>
</body>



</html>