<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book1</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
</head>
<body>
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">BookCase</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li> <a href="http://localhost:3000/Home"  title="">Homepage</a></li>
                    <li> <a href="http://localhost:3000/Books" title="">Books</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="container">
        </div>
        <div id="page" class="container">
            <img class = "image-wrap" src = "images/book<%= (nomer+1).toString() %>.jpg">
            <ul class="list-style2">
                <li>
                    <h1>name: <%= obj.name  %></h1>
                    <p>author:<%= obj.author  %></p>
                    <p>rating: <%= obj.rating.toString()  %></p>
                    <p>ratings: <%= obj.ratings %></p>
                    <p>released: <%= obj.released %></p>
                </li>
                <li></li>
            </ul>
        </div>
        <div id="banner2" class="container">
        </div>
        <div  >
            <p> <br> <br> </p>
        </div>
</body>
</html>