<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
        <meta charset="UTF-8">
    </head>

    <body>
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">BookCase</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li class="active"> <a href="http://localhost:3000/Home"  title="">Homepage</a></li>
                    <li> <a href="http://localhost:3000/Books" title="">Books</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="container">
        </div>
        <div id="page" class="container">
            <h1>Welcome to BookCase!</h1>
            <h2 class="title title02">What you can do here?</h2>
            <h2>You can look at some new books. And nothing more.</h2>
        </div>

        <div id="banner2" class="container">

        </div>
        <div>
            <p> <br> <br> </p>
        </div>
    </body>

</html>