html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #080808 url(images/main-bg.png) repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff9fc;
}

.container {
    width: 1000px;
    margin: 0px auto;
}
/** HEADER */
#header {
    overflow: hidden;
    width: 1000px;
    height: 150px;
    padding: 0px 50px;
    background: url(images/gradient-bg.png) no-repeat center top;
}
/** LOGO */

#logo h1 {
    margin: 0px;
    line-height: normal;
    float: left;
    width: 300px;
    height: 150px;
}

#logo h1 a {
    line-height: 150px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    color: #FFFFFF;
}
/** MENU */
#menu {
    float: right;
    width: 600px;
    height: 99px;
}

#menu ul {
    float: right;
    margin: 0px;
    padding: 70px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    margin-left: 3em;
}

#menu a {
    display: block;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.10em;
    font-weight: 600;
    color: #B6B6B6;
}

#menu .active a
{
    color: #FFFFFF;
}

#menu a:hover {
    text-decoration: underline;
}

#banner {
    border-radius: 50px 50px 0 0; /* закругление углов для всех, кто понимает */
    overflow: hidden;
    padding: 80px 0px 0px 0px;
    background: #A11C47 url(images/banner-bg.png) repeat;
}
#banner2 {
    border-radius: 0 0 50px 50px; /* закругление углов для всех, кто понимает */
    overflow: hidden;
    padding: 80px 0px 0px 0px;
    background: url(images/banner2-bg.png) repeat;
}

#banner:before
{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('images/gradient-bg.png') no-repeat right top;
    background-size: 100% 100%;
    top: 0px;
    right: 0px;
}
#two-column
{
    padding-top: 50px;
}

.box-content
{
    overflow: hidden;
    margin-bottom: 4em;
}

.box-content p
{
    padding-left: 60px;
}


/* List Style 1 */

.link-style {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background: #A11C47;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 1px 0px 1px #5C1111;
    text-transform: uppercase;
    color: #FFFFFF;
}
/** PAGE */

#page {
    width: 900px;
    padding: 70px 50px 50px 50px;
    background-color: rgba(91, 90, 97, 0.18);
    border-style: dashed;
    border-width: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;

}
.title
{
    display: block;
    padding-left: 60px;
    padding-bottom: 1em;
    font-size: 1.70em !important;
    font-weight: 600;
    color: #333333;
}

.title02
{
    background: url(images/icon02.png) no-repeat left top;
}
.list-style1 {
    font-size: 2em !important;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.list-style2 {
    font-size: 2em !important;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-style1 li {
    padding: 50px 341px 360px 0px;
    border-top: 1px solid #D4D4D4;
}

.list-style2 li {
    padding: 50px 341px 100px 0px;
    border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
    font-weight: bold;
    color: #212121;
}

.list-style1 img {
    float: left;
    margin-right: 25px;
}

.list-style1 .first {
    padding-top: 0px;
    border-top: none;
}
.image-wrap {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}
